
#controlBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #334d41;
    padding: 0.25rem;
    text-align: center;
  }
  #controlBar button {
    background: none;
    border: 1px solid #fff;
    outline: none;
    margin: 0.1rem;
    padding: 0.4rem;
    font: inherit;
    font-size: 0.75rem;
    line-height: 1;
    color: #fff;
    cursor: pointer;
  }
  #controlBar button:hover {
    background-color: #fff;
    color: #444;
  }